* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

#logo {
    margin: 30px auto 10px auto;
}

.background {
    background-image: url('../images/world1.jpg');
}

select:focus {
    outline: none;
}

select:invalid{
    color: gray;
}

select {
    margin: 15px auto 40px auto !important;
    padding: 3px;
    border: 1px solid rgb(41, 3, 41);
    border-radius: 15px;
}

.info {
    background-color: rgb(29, 1, 29);
    height: 75vh;
    box-shadow: 0px -1px 10px #cecccc;
    padding: 0 !important;
    border-radius: 5px 0 0 0;
}

#mapid {
    height: 75vh;
    box-shadow: 0px -1px 10px #cecccc;
}

#text1, #text2, #text3, #text4 {
    color: white;
}

.nav-item {
    width: 50%;
    text-align: center;
    align-content: center;
}

a {
    color: grey !important;
}

h5 {
    color: white !important;
    text-align: center;
    border-bottom: 1px solid darkgray;
    padding: 8px;
}

.info-img {
    text-align: center;
    vertical-align: middle;
}

#todayW, #tomorrowW {
    margin: 2px auto;
    height: 90px;
    width: 90px;
}

#flag {
    margin: auto;
    height: 35px;
    width: 35px;
}

.info-block {
    margin: 4px auto;
    max-width: 50px;
}

p {
    color: white !important;
    text-align: center;
    margin: 2px;
}

#todayMinTemp, #todayMaxTemp, #todayHum, #todayWind, #tomorrowHum, #tomorrowWind, #tomorrowMaxTemp, #tomorrowMinTemp {
    margin: auto;
    padding: 4px;
}

.tab-content {
    padding: 15px;
}

/*.full-height {
    overflow: scroll;
}*/