* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

img {
    margin: 30px auto 10px auto;
}

select:focus {
    outline: none;
}

select:invalid{
    color: gray;
}

select {
    margin: 15px auto 40px auto !important;
    padding: 3px;
    border: 1px solid rgb(41, 3, 41);
    border-radius: 15px;
}

.info {
    background-color: rgb(29, 1, 29);
    height: 75vh;
    box-shadow: 0px -1px 10px #cecccc;
    padding: 0 !important;
    border-radius: 5px 0 0 0;
}

#mapid {
    height: 75vh;
    box-shadow: 0px -1px 10px #cecccc;
}

#text1, #text2, #text3, #text4 {
    color: white;
}

.nav-item {
    width: 50%;
    text-align: center;
    align-content: center;
}

a {
    color: grey !important;
}

.tab-content {
    padding: 15px;
}